table{
    border: 1px solid;
    border-collapse: collapse;
}
th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}
th{
    background-color: #8c94ff;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}