<html>
    <head>
        {% block head %}
        
        {% endblock %}
    </head>
    <body>
        <h1>Django Delights Inventory Application</h1>
        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ingredient/list">Ingredients</a></li>
                <li><a href="/purchase/list">Purchases</a></li>
                <li><a href="/menu/list">Menu Items</a></li>
            </ul>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>