{% extends "delights/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'delights/base.css' %}">
{% endblock %}

{% block content %}
    <h2>Ingredients List</h2>
    <div>
        <a href="{%url 'ingredient_create' %}">Add new Ingredient</a>
    </div>
    <br>
    <div>
        <!-- ListView Ingredients display -->
         <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for ingredient in ingredient_list %}
            <tr>
                <td>{{ ingredient.id }}.</td>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td>{{ ingredient.unit_price }}</td>
                <td>
                    <a href="{%url 'ingredient_update' ingredient.id%}">Update</a>
                </td>
                <td>
                    <a href="{%url 'ingredient_delete' ingredient.id%}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}