{% extends "delights/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'delights/base.css' %}">
{% endblock %}
{% block content %}
    <h2>Menu Items</h2>
    <div>
        <a href="{% url 'menu_create' %}">Create Menu Item</a>
    </div>
    <br>
    <div>
        <!-- ListView MenuItems -->
         <table>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Price</th>
                <th>Recipe</th>
            </tr>
            {% for item in menuitem_list %}
            <tr>
                <td>{{ item.id }}.</td>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <table>
                        <tr>
                            <th>Ingredient</th>
                            <th>Quantity</th>
                        </tr>
                        {% for requirement in item.reciperequirement_set.all %}
                        <tr>
                            <td>{{ requirement.ingredient.name }}</td>
                            <td>{{ requirement.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}