{% extends "delights/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'delights/base.css' %}">
{% endblock %}
{% block content %}
    <h2>Menu Items</h2>
    <div>
        <!-- ListView MenuItems -->
         <table>
            <th>
                <tr>
                    <td>#</td>
                    <td>Title</td>
                    <td>Price</td>
                </tr>
            </th>
            <td>
                {% for item in menuitem_list %}
                <tr>
                    <td>{{ item.id }}.</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                
                {% endfor %}
            </td>
        </table>
    </div>
{% endblock %}