{% extends "delights/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'delights/base.css' %}">
{% endblock %}
{% block content %}
    <h2>Purchase List</h2>
    <div>
        <!-- ListView Purchase display -->
         <table>
            <tr>
                <th>#</th>
                <th>Purchased Item</th>
                <th>Timestamp</th>
            </tr>
            {% for purchase in purchase_list %}
            <tr>
                <td>{{ purchase.id }}.</td>
                <td>{{ purchase.menu_item.title }}</td>
                <td>{{ purchase.timestamp }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}